<html>
    <head>
        <title>Home</title>
    </head>
    <body>

        <a href="/Home/user"><input type="button" value="New User" /></a>
        <a href="/Home/existinguser"><input type="button" value="Existing User" /></a>
        <a href="/Home/admin"><input type="button" value="Admin" /></a>
        <input type="button" value="Exit" />
    </body>
</html>
